@import "tailwindcss";

@theme {
  --font-main: "Rubik", sans-serif;

  --color-primary: #5267df;
  --color-primary-shade: #242a45;
  --color-secondary: #fa5959;

  --color-grey-1: #f7f7f7;
  --color-grey-2: #5b6074;

  /* Font sizes */
  --text-1: 3rem; /* 48px */
  --text-2: 2rem; /* 32px */
  --text-3: 1.875rem; /* 30px */
  --text-4: 1.25rem; /* 20px */
  --text-5: 1.125rem; /* 18px */
  --text-6: 1rem; /* 16px */
  --text-7: 0.9375rem; /* 15px */
  --text-8: 0.875rem; /* 14px */
  --text-9: 0.75rem; /* 12px */
  --text-10: 0.625rem; /* 10px */

  /* Line heights */
  --leading-1: 1.1;
  --leading-2: 1.2;
  --leading-3: 1.25;
  --leading-4: 1.35;
  --leading-5: 1.55;
  --leading-6: 2.25;
  --leading-7: 2;
  --leading-8: 3;

  /* Letter spacing */
  --tracking-minus-1: -0.1px;
  --tracking-0: 0px;
  --tracking-1: 0.25px;
  --tracking-2: 0.5px;
  --tracking-3: 5px;

  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semi: 600;

  --spacing-0: 0rem;
  --spacing-1: 0.5rem; /* 8px */
  --spacing-2: 1rem; /* 16px */
  --spacing-3: 1.5rem; /* 24px */
  --spacing-4: 2rem; /* 32px */
  --spacing-5: 2.5rem; /* 40px */
  --spacing-6: 3rem; /* 48px */
  --spacing-7: 3.5rem; /* 56px */
  --spacing-8: 4rem; /* 64px */
  --spacing-9: 4.5rem; /* 72px */
  --spacing-10: 7.5rem; /* 120px */
}

@layer components {
  .tp-1-mobile {
    @apply text-3 leading-4 tracking-0 font-medium;
  }

  .tp-2-medium-mobile {
    @apply text-7 leading-7 tracking-0 font-medium;
  }

  .tp-2-regular-mobile {
    @apply text-7 leading-5 tracking-0 font-regular;
  }

  .tp-2-light-mobile {
    @apply text-7 leading-7 tracking-0 font-light;
  }

  .tp-3-mobile {
    @apply text-9 leading-8 tracking-3 font-medium;
  }

  .tp-4-mobile {
    @apply text-10 leading-2 tracking-1 font-medium italic;
  }

  /* Desktop */

  .tp-1 {
    @apply text-1 leading-1 tracking-0 font-medium;
  }

  .tp-2 {
    @apply text-2 leading-3 tracking-minus-1 font-medium;
  }

  .tp-3 {
    @apply text-4 leading-2 tracking-1 font-medium;
  }

  .tp-4 {
    @apply text-5 leading-5 tracking-0 font-regular;
  }

  .tp-5-light {
    @apply text-6 leading-6 tracking-2 font-light;
  }

  .tp-5-regular {
    @apply text-6 leading-1 tracking-2 font-regular;
  }

  .tp-6-medium {
    @apply text-8 leading-7 tracking-1 font-medium;
  }

  .tp-6-regular {
    @apply text-8 leading-7 tracking-1 font-regular;
  }

  .tp-6-semi {
    @apply text-8 leading-8 tracking-3 font-semi;
  }

  .tp-7 {
    @apply text-10 leading-2 tracking-1 font-medium italic;
  }
}
